/************************ Sidebar ************************/

.sidebar {
  margin-top: 34.72px;
  margin-bottom: 34.72px;
  border-radius: 8px;
  width: max-content;
  height: max-height;
  min-height: 100vh;
}

.sidebar-content {
  gap: 47.12px;
}

/************************ Bag ************************/

.font-bag {
  font-size: 39.06px;
  font-weight: 500;
  margin-bottom: 26px;
  width: 16.5vw;
  text-align: center;
}

.bag-content > div {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.bag-content > :first-child {
  padding: 0;
}

.bag-content > div > img {
  width: 55px;
}

.bag-content {
  grid-template-rows: 80px;
}

.btn-bag {
  padding: 8px 24px 8px 24px;
  border-radius: 14px;
  background: var(--dark);
  font-size: 20px;
  color: white;
  line-height: 24px;
}

.px-bag {
  /* padding: 0 36.5px; */
  margin: auto;
  margin-top: 5rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/************************ Home ************************/

.grid-home {
  grid-template-columns: max-content auto 22%;
}

.search-item > div > input {
  border-radius: 13px;
  box-shadow: var(--shadow1);
  width: 507px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  font-size: 20px;
  color: var(--placeholder);
}
.search-item > div > label {
  letter-spacing: -0.02em;
  margin-left: 8px;
  font-size: 16px;
  color: var(--tertiary);
}
.content {
  border-radius: 22px;
}
.content-detail {
  font-size: 20px;
  line-height: 24px;
  color: var(--dark);
  font-weight: 500;
}

.content-detail > :nth-child(2) {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--tertiary);
}

.home-content {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.span-laptop {
  grid-column: 2 span;
}
.vertical-line {
  height: 90vh;
  margin-top: 5vh;
  width: 4px;
  background-color: var(--placeholder);
}
.items-number {
  display: none;
  position: absolute;
  background-color: #f50057;
  border-radius: 50%;
  color: #fff;
  max-width: 35px;
  max-height: 35px;
  min-width: 20px;
  min-height: 20px;
  top: -25%;
  left: -25%;
  padding: 1px 4px;
}
.bag-icon {
  /* right: 5%; */
  /* top: 1.8%; */
  background-color: #fff;
  padding: 3px;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  display: none;
}
.search-item > :first-child {
  flex: 4;
  /* justify-content: center; */
}
.search-item > :last-child {
  flex: 1;
  max-width: 45px;
  align-self: flex-end;
}

.popup-menu {
  right: 5%;
  top: 65px;
  border-radius: 8px;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
}
.popup-menu > .bag-content {
  display: flex;
  flex-direction: row;
  min-width: 250px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 1400px) {
  .grid-home {
    grid-template-columns: max-content auto;
  }
  .bag-home {
    display: none;
  }
  .bag-icon {
    display: block;
  }
  .items-number {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
  }
  .search-item > :first-child {
    /* flex: 2; */
    flex: unset;
    margin: 0 14px 0 0;
  }
  .search-item > :last-child {
    flex: unset;
    /* flex: 1; */
    align-self: flex-end;
  }
}
@media screen and (max-width: 1080px) {
  .search-item > div {
    width: 100%;
  }
  .search-item > div > input {
    max-width: 507px;
    width: 100%;
  }
  .home-content {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: repeat(4, auto); */
  }
  .home-content > div {
    min-width: 170px;
  }
  .home-content > .span-laptop {
    min-width: 48%;
    /* width: 45%; */
    /* grid-column: 2 span; */
  }
  .content > img {
    width: 100%;
    object-fit: contain;
  }
  .content-detail {
    font-size: 18px;
  }

  .content-detail > :nth-child(2) {
    font-size: 14px;
  }
  .content-detail > :nth-child(3) > span {
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .home-content {
    margin: 0 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .search-item > div > input {
    font-size: 18px;
  }

  .search-item > div > label {
    /* margin-top: 8px; */
    font-size: 14px;
  }
  .home-content {
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    margin: 0 2rem;
  }
}
@media screen and (max-width: 450px) {
  .sidebar > :first-child {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
